## Load Data

Load the data from csv file. 

combine buyback and dividend data

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df1 = pd.read_csv('./BuybackMean.csv', sep=',',header=0)
df1.head()

         date      close
0  2013-02-08  44.491667
1  2013-02-11  44.305556
2  2013-02-12  44.146778
3  2013-02-13  44.235556
4  2013-02-14  44.286667

In [46]:
df2 = pd.read_csv('./DividenMean.csv', sep=',',header=0)
df2.head()

         date     close
0  2013-02-08  68.43833
1  2013-02-11  68.49700
2  2013-02-12  69.16266
3  2013-02-13  69.44466
4  2013-02-14  69.76133

In [47]:
df1 = pd.concat([df1, df2], axis=1)

df1 = df1.head(30)

In [48]:
df1.to_csv('./CompareDataTest.csv')